---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
interface Props {
  title?: string
  noFooter?: boolean
  noHeader?: boolean
}

const { title, noHeader, noFooter } = Astro.props
const siteName = 'Apios Ɛ==3 - Innovative Bone Repair Technology'
const headTitle = title ?? siteName
const description =
  'Apios is transforming the future of bone healing with innovative technology. We develops revolutionary 3D bioactive implants for bone self repair.'
const keywords =
  'bone repair, bioactive scaffold, 3D printing, regenerative medicine, tissue engineering, bone fracture healing, orthopedic, dental'
const image = '/bone-radio.png'

const env = import.meta.env.MODE
const isStaging = env === 'staging'
const canonicalURL = isStaging
  ? 'https://dev.apios-bone.com'
  : 'https://apios-bone.com'
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <!-- Essential Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{headTitle}</title>
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="author" content="APIOS" />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, canonicalURL)} />
    <meta property="og:site_name" content={siteName} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, canonicalURL)} />

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="APIOS" />
    <link rel="manifest" href="/site.webmanifest" />

    <!--robots-->
    {
      isStaging ? (
        <>
          <meta name="robots" content="noindex, nofollow" />
          <meta name="googlebot" content="noindex, nofollow" />
        </>
      ) : (
        <>
          <meta name="googlebot" content="index, follow" />
          <meta name="robots" content="index, follow" />
        </>
      )
    }
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Open+Sans:wght@400;600&display=swap"
      rel="stylesheet"
    />

    <!-- Ensure mobile browsers use the proper viewport -->
    <meta name="theme-color" content="#4db874" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body
    class="font-open-sans text-gray-800 flex flex-col min-h-screen bg-white"
  >
    {!noHeader && <Navbar />}
    <main class="flex-1">
      <slot />
    </main>
    {!noFooter && <Footer />}
  </body>
</html>

<style is:global>
  *:focus-visible {
    outline-color: theme('colors.primary');
  }
</style>
